section.clients {
    margin-top: 80px;
    height: 300px;
    background: url('/assets/front/dist/images/construction_clients_background.jpg');
    padding: 0 40px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 1366px) {
        margin-top: 50px;
        height: 230px;
    }
    @media screen and (max-width: 768px) {
        height: auto;
    }
}
.client-title {
    // position: absolute;
    // top: 40px;
    
    padding-top: 50px;
    h3 {
        margin-bottom: 20px;
        @media screen and (max-width: 1366px) {
            font-size: 22px;
            margin-bottom: 10px;
            font-weight: 400;
        }
    }
    .title-divider {
        width: 50px;
        height: 2px;
        background: $red;
        margin: 0px auto;
    }
}
.client-box {
    padding-top: 80px;
    text-align: center;
    @media screen and (max-width: 1366px) {
        padding-top: 40px;
    }
    @media screen and (max-width: 768px) {
        // margin-top: 10px;
        padding-top: 0;
    }
}
.client-image {
    margin: 0 20px;
    max-height: 80px;
    width: auto !important;
    @media screen and (max-width: 768px) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}