section.company {

    @media screen and (max-width: 992px) {
        .flex-first {
            order: 1 !important;
        }
    }
    .item {
        // height: 530px;
    }
    .picture {
        padding: 0;
        img {
            width: 100%;
            max-height: 550px;
        }
        // background: blue;
    }
    .description {
        // background: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0 80px;
        @media screen and (max-width: 1366px) {
            h1 {
                font-size: 22px;
                font-weight: 400px;
            }
            p {
                font-size: 14px;
            }
        }
        @media screen and (max-width: 992px) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: 768px) {
            padding: 0 20px;
        }
        .button {
            margin-top: 60px;
        }
    }   
}

section.gallery-hero {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .page-name {
    	letter-spacing: 1.2px;
    }
    
}

.gallery {
    text-align: center;
    margin-top: 50px;
    img {
        width: 24%;
        margin-bottom: 3px;
        height: 180px;
        @media screen and (max-width: 1200px) {
            width: 33%;
            
        }
        @media screen and (max-width: 768px) {
            width: 48%;
        }
        @media screen and (max-width: 480px) {
            width: 96%;
        }
    }
}