section.contact-form {
	.container {
		.wrap {
			padding: 65px 0;
			form {
			    background: #fff;
			    box-shadow: 0 5px 50px rgba(0,0,0,.25);
				padding: 65px 90px;
				@media screen and (max-width: 768px) {
					padding: 40px 25px;
				}
			    textarea.form-control {
					height: 100%;
			    }
			    input.form-control,textarea.form-control {
			    	padding: 20px 20px;
				    color: gray;
				    background: $light-gray;
					border-radius: 0;
					@media screen and (max-width: 768px) {
						padding: 15px 20px;
					}
				
				    &:focus {
				    	outline: 0;
						border: 1px solid $dark-gray;
				    }
				}
				button {
					outline: none;
					display: block;
					margin-left: auto;
				}
			} //end form
		} //end wrap
		.address-wrap {
			    color: gray;
			.title {
				margin-bottom: .5rem;
				color: $red;
			}
			.address {
				padding: 0 0 35px;
				.label {
					font-weight: 500;
				}
			}
		}
	} //end container

	.error {
		border-color: red;
	}

	.contact .label {
		font-weight: 500;
	}

	
} //end section.contact-form