section.features {
    margin-top: 80px;
    // height: 800px;
    @media screen and (max-width: 1366px) {
        margin-top: 40px;
    }
}

.features-title {
    margin-bottom: 20px;
    font-weight: 500;
    color: $dark-gray;  
}
.features-text {
    margin-top: 20px;
    text-align: justify;
    font-weight: 400;
    @media screen and (max-width: 1366px) {
        margin-bottom: 20px;
        font-size: 22px;
    }
    // padding: 0 10px;
    @media screen and (max-width: 768px) {
        text-align: center;
        font-size: 16px;
    }
}

.features-divider {
    background: $red;
    width: 50px;
    margin: 0px auto;
    height: 2px;
}