section.hero {
    position: relative;
    .slider {
        position: relative;
        width: 100%;
        .slider-item {
            height: 800px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: relative;
            outline: none;
            &:focus {
                outline: none;
            }
            @media screen and (max-width: 1400px) {
                height: 550px;
            }
            @media screen and (max-width: 768px) {
                height: 500px !important;
            }
            @media screen and (max-width: 480px) {
                height: 300px !important;
            }
            .slider-item--text {
                position: absolute;
                bottom: 120px;
                left: 170px;
                width: 500px;
                color: white;
                @media screen and (max-width: 1400px) {
                    bottom: 90px;
                }
                @media screen and (max-width: 768px) {
                    bottom: 40px;
                    width: 100%;
                    text-align: center;
                    left: initial;
                }
                .title h2 {
                    font-weight: bold;
                    text-shadow: 1px 1px 1px black;
                    font-size: 40px;
                    @media screen and (max-width: 1366px) {
                        font-size: 32px;
                    }
                    @media screen and (max-width: 992px) {
                        font-size: 28px;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 22px;
                    }
                    @media screen and (max-width: 480px) {
                        margin-bottom: 15px;
                    }
                }
                .text {
                    margin-bottom: 20px;
                    text-shadow: 1px 1px 1px black;
                    @media screen and (max-width: 768px) {
                        font-size: 14px;
                        width: 70%;
                        margin: 0px auto;
                        margin-bottom: 20px;
                    }
                    @media screen and (max-width: 480px) {
                        display: none;
                    }
                }
            }
        }
    }
    .slick-prev {
        position: absolute;
        top: 50%;
        margin-top: -30px;
        color: white;
        font-size: 40px;
        left: 25px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: $red;
        }
    }
    .slick-next {
        position: absolute;
        top: 50%;
        margin-top: -30px;
        color: white;
        font-size: 40px;
        right: 25px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: $red;
        }
    }
}