section.posts {
    // background: $light-gray;
    // height: 800px;
    margin-top: 50px;
    @media screen and (max-width: 1366px) {
        margin-top: 20px;
    }
}
.post-wrap {
    margin-top: 40px;
}
.post-item {
    margin-bottom: 40px;
    box-shadow: -1px 1px 20px #d6d6d6;
    width: 100%;
    background: white;
    transition: all 0.3s;
    cursor: pointer;
    
    &:hover {
        box-shadow: -1px 1px 20px #a3a3a3;
        .post-image--overlay {
            opacity: 1;
            top: 0;
        }
    }
    .action {
        position: absolute;
        bottom: 45px;
        background: red;
        color: white;
        padding: 5px 30px;
        left: 15px;
        @media screen and (max-width: 768px) {
            font-size: 12px;
            padding: 2px 15px;
        }
    }
    .text {
        p {
            padding: 10px 20px;
            text-align: justify;
            height: 100px;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
}
.post-image {
    position: relative;
    overflow: hidden;
    max-height: 260px;
    img {
        width: 100%;
    }
}
.post-image--overlay {
    display: flex;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200px;
    left: 0;
    background-color: rgba(136, 67, 67, 0.219);
    justify-content: center;
    align-items: center;
    transition: all .4s;
    .button {
        @media screen and (max-width: 768px) {
            font-size: 10px;
            padding: 5px 15px;
        }
    }
}
.post-date {
    padding: 0 20px 10px;
    font-size: 14px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
    // position: absolute;
    // bottom: 0;
    // margin: 0;
    // font-weight: 700;
}

.post-title {
    padding: 20px 20px 0px 20px;
    @media screen and (max-width: 1366px) {
        font-size: 22px;
        font-weight: 400px;
    }
    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}
.post-text {
    padding: 10px 20px;
    text-align: justify;
    height: 100px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}
.section-title {
    padding-top: 30px;
    color: $dark-gray;
    padding-bottom: 10px;
    @media screen and (max-width: 1366px) {
        font-weight: 400;
        font-size: 22px;
    }
    
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.section-title--divider {
    width: 50px;
    height: 2px;
    background: $red;
    @media screen and (max-width: 768px) {
        margin: 0px auto;
    }
}