section.product-list {
	margin-top: 50px;
	.single-post--content {
		margin-bottom: 0px;
	}
	.product-item {
	    box-shadow: 1px 1px 15px #e6e6e6;
	    padding: 30px 10px;
	    margin-bottom: 20px;
		transition: all .3s;
		height: 340px;

	    &:hover {
	    	box-shadow: 1px 1px 15px #cacaca;
		}
		@media screen and (max-width: 1366px) {
			height:250px;
		}
		@media screen and (max-width: 992px) {
			.read-more {
				align-self: center !important;;
			}
		}
		@media screen and (max-width: 480px) {
			flex-direction: column;
			text-align: center;
			height: initial;
			.read-more {
				margin-top: 20px;
				align-self: center !important;
				.button {
					@media screen and (max-width: 480px) {
						font-size: 10px;
					}
				}
					
			}
		}
	}
	.product-title {
		h2 {
			font-size: 24px;
			@media screen and (max-width: 480px) {
				font-size: 18px;
			}
		}
	}
	.product-image {
		// height: 320px;
		max-width: 100%;
		padding-left: 30px;
		max-height: 100%;
	}
	
	.product-info {
		font-size: 18px;
		text-align: center;
		@media screen and (max-width: 480px) {
			font-size: 14px;
		}
		.quantity {
			margin-left: 5px;
		}
		table {
			p {
				display: block;
				@media screen and (max-width: 1366px) {
					font-size: 14px;
				}
			}
			border: none;
			border-color: white;
			tr {
				display: none;
			}
			tr:nth-child(-n+3) {
				display: table-row;
			}
	
			td {
				background-color: white !important;
				height: initial !important;
				width: initial !important;
			}
	
			td:nth-child(-n+1) p:after {
				content: ":"
			}
	
			strong {
				font-weight: 400;
			}
		}
		p {
			display: none;
		}
	}

	
}

.rental {
	.product-info {
		table {
			tr:nth-child(-n+2) {
				display: table-row !important;
			}

			tr:nth-child(3) {
				display: none !important;
			}
		}
	}
}