section.products {
	margin-top: 80px;
}
.product-list {
	.main-list-item {
		display: flex;
		position: relative;
		height: 150px;
		margin-bottom: 15px;
		box-shadow: 0px 1px 15px 2px #e6e6e6;
		cursor: pointer;
		transition: all .3s;
		// text-align: center;
		// justify-content: center;
		@media screen and (max-width: 1366px) {
			height: 100px;
		}
		@media screen and (max-width: 480px) {
			height: 75px;
		}
		&:hover {
		    transform: translateY(-5px);
			box-shadow: 0px 3px 15px 2px #cacaca;
		}
		img {
			position: absolute;
			height: 100%;
			padding: 15px 0px;
			left: 0;
			margin-left: 20px;
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
		h2 {
			margin: 0px;
			padding: 0 152px;
			width: 100%;
			text-align: center;
			align-self: center;
			@media screen and (max-width: 1366px) {
				font-size: 24px;
			}
			@media screen and (max-width: 768px) {
				font-size: 18px;
				padding: 0 30px;
			}
			@media screen and (max-width: 480px) {
				font-size: 12px;
			}
			
		}
	}
	.sub-list {
		display: none;
	}
	.sub-list.active {
		display: flex;
	}

	.sub-item {
		display:flex;
		justify-content: center;
		align-items: center;
	    flex-basis: 31%;
	    color: $dark-gray;
	    text-align: center;
	    padding: 20px;
	    box-shadow: 0px 0px 15px #e8e8e8;
	    font-size: 24px;
	    margin: 1%;
		cursor: pointer;
		margin-bottom: 15px;
	    transition: all .3s;
	    &:hover {
		    box-shadow: 0px 0px 15px #cacaca;
		    background: $red;
		    color: white;
		}
		@media screen and (max-width: 1366px) {
			font-size: 18px;
		}
		@media screen and (max-width: 768px) {
			font-size: 16px;
			flex-basis: 100%;
		}
		@media screen and (max-width: 480px) {
			font-size: 12px;
		}
		
	}
}