section.single-product {
    margin-bottom: 60px;
    @media screen and (max-width: 1366px) {
        margin-bottom: 20px;
    }
    .post-slider {
        img {
            margin: 30px auto;
            height: 500px;
            @media screen and (max-width: 480px) {
                height: 300px;
            }
        }
    }
    .single-product-table {
        margin-top: 40px;
        display: none;
        table {
            width: 440px;
            text-align: center !important;
            border: none;
            border-color: white;
            @media screen and (max-width: 480px) {
                width: 360px;
            }
            tr {
                height: 40px !important;
                border-bottom: 1px solid rgb(218, 218, 218);
                td {
                    background-color: white !important;
                }
                td:nth-child(-n+1) {
                    font-weight: bold;
                    text-align: left;
                }
            }
        }
        p {
            @media screen and (max-width: 480px) {
                text-align: center;
            }
        }
        .note {
            margin-top:5px;
            font-size: 14px;
        }
        .catalogue {
            margin-top: 40px;
            .fa {
                margin-right: 10px;
            }
        }
    
    }
    .single-post--title {
        @media screen and (max-width: 1200px) {
            flex-direction: column;
		}
        @media screen and (max-width: 480px) {
            h2 {
                font-size: 18px;
            }
            h4 {
                font-size: 16px;
            }
        }
    }
    .single-post--text {
        @media screen and (max-width: 992px) {
            text-align: center;
        }
    }
    .compatible-slider {
        margin-top: 100px;
        width: 100%;
        position: relative;
        // display: none;
        // visibility: hidden;
        .slider-item {
            img {
                height: 200px;
                widows: auto;
                margin: 0px auto;
            }
        }

        .slick-prev, .slick-next {
            margin-top: 30px;
            background: red;
            position: absolute;
            bottom: -35px;
            color: white;
            border: none;
            padding: 5px 20px;
            left: 50%;
            outline: none;
        }
        .slick-prev {
            margin-left: -51px;
        }
    }

    .specification-tabs {
        margin-top: 30px;
        @media screen and (max-width: 480px) {
            flex-direction: column;
        }
        button {
            outline: none;
            &:focus {
                outline: none;
            }
        }
        button.active {
            background: #fff;
            color: #EB172B;
        }
    }

}