section.single-post {
	.post-slider {
		width: 100%;
		position: relative;
	}
	.slider-item {
		max-height: 700px !important;
		img {
			max-width: 100%;
			margin: 0px auto;
			@media screen and (max-width: 1366px) {
				max-height: 400px !important;
			}
		}
	}
	.single-post--content {
		// margin-bottom: 30px;
        @media screen and (max-width: 1366px) {
			padding: 0 50px;
		}
		
	}
	.single-post--title {
		margin-top: 20px;
		h2 {
			// font-size: 42px;
			font-weight: 400;
		}

		h4 {
			font-weight: 300;
		}
	}
	.single-post--date {
		font-size: 12px;
		font-weight: bold;
		.date {
			color: $red;
			margin-left: 5px;
		}
	}
	.single-post--text {
		margin-top: 30px;
		table {
            width: 440px;
            text-align: center !important;
            border: none;
            border-color: white;
            margin: 0px auto;
			tr {
				height: 40px !important;
				border-bottom: 1px solid rgb(218, 218, 218);
				td {
					background-color: white !important;
					td:nth-child(-n+1) {
						font-weight: bold;
						text-align: left;
					}
				}
			}
        }
	}
	.arrows {
	    display: flex;
	    background: #ED1C24;
	    padding: 10px 0px;
	    color: white;
	    cursor: pointer;
	    margin-top: -22px;
	    z-index: 1;
	    .divider {
	    	width: 1px;
		    background: white;
		    // margin: 0 30px;
	    }
	    .slick-prev, .slick-next {
	    	padding: 0 30px;
	    }
	}

	.share {
		margin-top: 60px;
		span {
			font-weight: bold;
		}
		i {
			font-size: 30px;
			margin-left: 15px;
			cursor: pointer;
			transition: all .3s;
			color: gray;
			&:hover {
				color: 	#3b5998;
			}
		}
	}
}