section.titlebar {
	height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .page-name {
    	letter-spacing: 1.2px;
    }
    @media screen and (max-width: 1366px) {
        height: 150px;
        font-size: 16px;
    }
}