// Global CSS goes here
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    // font-family: 'Open Sans', sans-serif;  
    font-family: 'Ubuntu', sans-serif;  
}
a {
    outline: none;
    &:hover {
        text-decoration: none;
        outline: none;
    }
    &:focus {
        text-decoration: none;
        outline: none;
        color: auto;
    }
}

p {
    margin: 0;
    padding: 0;
}
.container {
    width: 1300px !important;
    @media screen and (max-width: 1400px) {
        width: 1100px !important;
    }
    @media screen and (max-width: 992px) {
        max-width: 100%;
    }
}
.red {
    color: $red;
}
.bold {
    font-weight: 900;
}
.pagination {
    justify-content: center;
}
.page-link {
    color: $red;
    &:hover {
        color: $red;
    }
}
.page-item.active .page-link {
    background-color: $red;
    color: white;
    border-color: #ddd;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #eb172b !important;
}

.daterangepicker td.in-range {
    background-color: rgba(255, 62, 62, 0.178);
}
.range_inputs {
    .applyBtn {
        background: #eb172b;
        border-color: #eb172b;
        &:focus {
            box-shadow: none;
        }
    }
    button {
        border-radius: 0;
    }
}

#preloader {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;  
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    opacity: 0;
}