p.help-block {
    color: red;
}
.inactive {
    opacity: 0.5;
}

.multiselect-container {
    height: 500px;
    overflow-y: scroll;
}

.gallery{
    list-style-type: none;
    padding: 0;
}
.gallery .list-item {
    width: 360px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dddd;
    /* min-height: 240px; */
    display: inline-block;
    float: none;
    vertical-align: top;
    position: relative;
}
.gallery .list-item img{
    width: 100%;
}

.sortable-placeholder {
    border: 2px dashed #707070;
    width: 360px;
    height: 240px;
}
.panel-heading .options {
    float: left !important;
}

/* .collapse-leftbar #sidebar-logo {
    display: none;
} */
/* #sidebar-logo {
  padding: 0 0 10px 0;
  text-align: right;
}
#sidebar-logo a {
    display: block;
}
#sidebar-logo a img {
    width: 50% !important;
    display: block;
    margin: 15px auto 0;
}

#sidebar ul, #sidebar ul li a {
    background: #c70000;
}
#sidebar ul li a:hover {
    background: #c70000;
    color: #ffc1bf;
    box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.1);
}
#sidebar ul li.active a:hover {
    background: #b8b8b8;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
} */
.control-label {
    cursor: pointer;
}
label {
    margin: 10px 0 0 0;
}
.form-group .tab-container {
    margin-bottom: 0;
}

.btn-toolbar {
    padding: 25px 0 0;
}
.control-buttons {
    padding: 15px 0;
}
.input-search {
    position: relative;
}
.input-search i{
    position: absolute;
    top: 10px;
    right: 10px;
}
.rating {
    margin-left: 20px;
    white-space: nowrap;
}
.rating i {
    color: #f1c40f;
    font-size: 1em;
}
.set-rating i {
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
/** GALLERY **/
span.fileinput-button {
    width: auto;
    display: block;
    padding: 30px;
    background: none;
    border: 2px dashed #4f5259;
    color: #4f5259;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
span.fileinput-button:hover {
    background: #ededed;
    border: 2px dashed #4f5259;
    color: #4f5259;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
span.fileinput-button.dragover {
    background: #e6e6e6;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
span.fileinput-button.dragover h2, span.fileinput-button.dragover h4{
    color: #ADADAD;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.fileinput-button input {
    right: auto;
    left: 0;
    width: 100%;
    height: 150px;
}
.progress-bar {
    display: none;
    height: 10px;
    margin-top: 10px;
}

ul.gallery {
    list-style: none;
    padding: 0;
}
ul.gallery > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
ul.gallery > li .options {
    margin-top: 5px;
}
ul.gallery > li button.remove-file, button.btn.remove-hero {
    position: absolute;
    top: 10px;
    /*right: 20px;*/
    left: 10px;
    z-index: 20;
    padding: 0 5px;
    color: red;
    background: #eee;
}
ul.gallery.uploaded.documents .doc-lang {
    width: 230px;
    position: relative;
    background: #ccc;
    padding: 5px 55px 5px 5px;
    font-weight: bold;
}
ul.images.gallery .toggle {
    position: absolute;
    top: 10px;
    left: 190px;
    z-index: 100;
}
.cover .cover-image {
    display: block;
}
.cover-image {
    display: none;
    position: absolute;
    top: 17px;
    left: 17px;
    width: 236px;
    height: 156px;
    border: 3px solid #3CAC3C;
}
.fa-check-circle {
    color: #3CAC3C;
}
.cover .file-active {
    display: none;
}
.set-cover.image-cover *{
    cursor: default;
}
.inactive {
    opacity: .6;
    filter: alpha(opacity=60);
}
.alert-error{
    background-color:#fdf2f2;
    border-color:#f29797;
    color:#a81515
}
.alert-error hr{
    border-top-color:#ef8080
}
.alert-error .alert-link{
    color:#7b0f0f
}
.notifications {
    padding: 20px 20px 0;
}
.gallery .list-item {
    width: 355px;
    /* min-height: 240px; */
}
.social-post-gallery.gallery .list-item{
    height: auto;
}
.sortable-placeholder {
    border: 2px dashed #707070;
    width: 355px;
    height: 240px;
}
.images .sortable-placeholder {
    border: 2px dashed #707070;
    width: 230px;
    height: 150px;
    margin: 10px 10px;
}
.toggle-slide .toggle-off, .toggle-slide .toggle-off.active {
    background: #e73c3c;
}
.btn-default-alt, .btn-default-alt:hover {
    border: none;
    /*font-size: 16px;*/
}
[class^="delete-"] {
    color: #e73c3c;
    cursor: pointer;
}
[class^="delete-"]:hover {
    color: #e73c3c;
    cursor: pointer;
}
.accordion-options span {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}
a.preview-property {
    color: #16a085;
}
.option-edit {
    color: #efa131;
    cursor: pointer;
}
.option-edit:hover {
    color: #efa131;
}
.exterior-benefits {
    border-left: 1px solid #e6e7e8;
    padding-left: 20px;
}
.profile-image {
    border: 1px solid #ddd;
}
.file-title-modal .modal-body{
     padding: 0px;
}
.modal .tab-container{
     margin-bottom: 0px;
}
.file-title-modal .modal-footer {
    margin-top: 0px;
    padding: 10px 20px 10px;
}
.file-title-modal .help-block {
    padding: 10px 20px;
}
.element-wrapper {
    margin-bottom: 15px;
}
.coefficients-table th {
    background: #efefef;
}
.coefficients-table {
    margin-bottom: 0px;
}
.error {
    color: red;
    font-size: 12px;
}
.slider-value {
    margin-top: 10px;
}
.slider-range .ui-slider-range {
    background: #59B56F;
}
.slider-value label {
    margin: 0;
    cursor: pointer;
}
.hidden-elements {
    display: none;
}
.modal {
    background-color: rgba(16, 16, 16, 0.34);
}
.modal hr {
    margin-bottom: 0;
}
.modal label {
    margin: 0;
}

.time-wrapper {
    display: none;
}
td.featured {
    width: 35px;
}
.featured i {
    cursor: pointer;
    color: #f1c40f;
    font-size: 16px;
}
.inactive.featured i {
    cursor: default;
}
.change-status.image-status {
    margin-top: 15px;
}
.panel .collection .panel-body {
    padding: 10px;
    border: 1px solid #dddddd;
    display: inline-block;
    float: none;
}
.toggle {
    margin:auto;
}
.fa-pencil {
    color: #26318c;
}
.upload-label {
    display: block;
    margin: 10px 0;
    text-align: left;
}

/**
 * ML FIELD
 */
.lang-input-wrap {
    list-style: none;
    margin: 0;
    padding: 0;
}
.lang-input {
    position: relative;
    visibility: hidden;
    display: none;
}
.lang-input.active {
    visibility: visible;
    display: block;
}
.lang-input-switch {
    position: absolute;
    cursor: pointer;
    top: 7px;
    right: 10px;
    width: 30px;
    opacity: .15;
    background: #00449F;
    color: white;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    user-select: none;
}
.lang-input-switch:hover {
    opacity: .5;
}

/**
 * Nutritive table form
 */
table.nutritive-table {
    width: auto;
}
table.nutritive-table th, table.nutritive-table tr td:first-child  {
    background: #e8e8e8;
}
table.nutritive-table th {
    width: 180px;
}
table.nutritive-table th:first-child  {
    width: 260px;
}
.sortable .bars {
    width: 30px;
    padding: 10px 5px;
    cursor: move;
}


.packshot-item {
    cursor: pointer;
}
