.button {
    padding: 10px 30px;
    background: #EB172B;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .3s;
    border: 2px solid $red;
    &:hover {
        background: white;
        color: #EB172B;
    }
    &:focus {
        color: auto;
    }
    @media screen and (max-width: 1366px) {
        font-size: 12px;
        font-weight: 400px;
        padding: 5px 20px;
    }
}
.button-post {
    color: white ;
}
.button-more {
    margin-top: 10px;
}
