section.custom-navbar {
    box-shadow: 0px 0px 35px lightgray; 
    
    nav {
        // height: 100px;
        // max-height: 80px;
        // @media screen and (max-width: 1400px) {
        //    height: 80px;
        // }
    }
    .navbar-brand {
        // margin-top: 10px;
        img {
            height: 60px;
            @media screen and (max-width: 1366px) {
                height: 45px;
            }
            @media screen and (max-width: 480px) {
                height: 40px;
            }
        }
    }
    .navbar-nav .active {
        a {
            color: $red !important;
            // font-weight: 500;
        }
    }
    .nav-link {
        font-size: 18px;   
        @media screen and (max-width: 1400px) {
            font-size: 16px;
        } 
    }
    .nav-link:hover {
        color: rgb(255, 131, 131) !important;
    }
    .nav-link:focus {
        color: $red !important;
        font-weight: 500;
    }
    button {
        outline: none;
    }
    .navbar-collapse {
        text-align: center;
        // margin-top: 10px;
    }
    .tab-1 {
        display: block;
    }
}